/postgres-keycloak-data
/clickhouse-olap-data
/clickhouse-telemetry-data
/postgres-crm-data
/postgres-airflow-data
2024__yandex-architecture-sso.code-workspace

### Visual Studio ###

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
.vs/